<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../assets/images/the-sky-wave-dry-martini-recipe-1920x1080.jpg);">
  <div class="container">
    <h1>Unlock your cocktail experience</h1>
    <p>Tell us what you have and we will suggest the best cocktails</p>
    <a class="btn btn-flat" href="#">Get started</a>
  </div>
</div>
