<div
  class="banner"
  data-navbar-target="banner"
  style="background-image: url(<%= image_path "AdobeStock_119920019.webp" %>);"
>
  <div class="banner-box">
    <div class="container text">
      <h1>Unlock your cocktail experience</h1>
      <div class="d-flex justify-content-between align-items-end">
        <p>Tell us what you have and we <br> will suggest the best cocktails</p>
        <div>
          <a class="btn-flat" href="#">Get started</a>
        </div>
      </div>
    </div>
  </div>
</div>
