<div class="cabinet">

  <div class="search-info">
    <div class="search-bar">
      <%= render "components/searchform" %>
    </div>
    <div class="search-results">
      <button name="button" type="submit" class="btn-flat">Add ingredient</button>
      <h5>XX Ingredients</h5>
      <h5>XX Cocktails</h5>
    </div>
  </div>

  <div class="cabinet-ingredients">
    <% user_ingredients.each do |item| %>
      <div class="btn-ghost ingredient">
        <p><%= item.ingredient.name %><a href="#" target="_blank" class="fa-solid fa-xmark fa-xl"></a></p>
      </div>
    <% end %>
  </div>
</div>
