<h6>Index Card</h6>
<div class="index-card-wrap">
  <%# <div class="index-card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://dosmaderas.com/wp-content/uploads/2021/10/Dos-Maderas-rum-Cocktail-Espresso-Martini-HERO-6.jpg)"></div> %>
  <div class="index-card-header">
    <div class="index-card-stock"><p>Ready To Go</p></div>
    <div class="cocktail-name"><h4>Espresso Martini</h4></div>
  </div>
  <div class="index-card-ingredients"><p>Vodka, Kaluah and Espresso Coffee Beans</p></div>
</div>

<h6>Show Card</h6>
<div class="show-card-wrap">
    <div class="show-cocktail-name"><h4>Espresso Martini</h4></div>
  <div class="show-card-header">
    <div class="show-card-ingredients"><p>Vodka, Kaluah and Espresso Coffee Beans</p></div>
    <div class="show-card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://dosmaderas.com/wp-content/uploads/2021/10/Dos-Maderas-rum-Cocktail-Espresso-Martini-HERO-6.jpg)"></div>
  </div>
  <div class="show-card-bottom">
    <div class="show-card-method"><p>Pour all ingredients into a cocktail shaker filled with ice. Shake well. Strain into cobbler glass. If served "On the rocks", strain ingredients into an old fashioned glass filled with ice.
If egg white is used shake little harder to release and incorporate the foam from the egg white. Garnish with a half orange slice and maraschino cherry, optionally use orange zest.</p></div>
  </div>
</div>
