<h6>Index Card</h6>
<div class="index-card-wrap">
  <div class="index-card-header">
    <div class="index-card-stock"><p>Ready To Go</p></div>
    <div class="index-cocktail-name"><h4>Espresso Martini</h4></div>
  </div>
  <div class="index-card-bottom">
    <div class="index-card-ingredients"><p>Vodka, Kaluah and Espresso Coffee Beans, Vodka, Kaluah and Espresso Coffee Beans, Vodka, Kaluah, Coffee Beans, Vodka, Kaluah</p></div>
  </div>
</div>

<br>

<div class="cards">
  <% @cocktails = Cocktail.all %>
  <% @cocktails.each do |cocktail| %>
  <div class="index-card-wrap">
    <div class="index-card-header">
      <div class="index-card-stock"><p>Ready To Go</p></div>
      <div class="index-cocktail-name"><h4><%= cocktail.name %></h4></div>
    </div>
    <div class="index-card-bottom">
      <ul class="list-inline">
      <%# Displaying only the first three ingredients in a cocktail index-card %>
      <% displayed_ingredients = cocktail.ingredients.first(3) %>
      <% displayed_ingredients.each do |ingredient| %>
      <li class="list-inline-item"><div class="index-card-ingredients"><p><%= ingredient.name %>,</p></div></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>
</div>
