<div class="dashboard">
  <div class="dashboard-saved-cocktails">
    <h2>Selected cocktails</h2>
      <%= render "components/saved_cocktail_card", saved_cocktails: @saved_cocktails %>
  </div>

  <div class="dashboard-grocery">
    <h2>Grocery list</h2>
    <%= render "components/grocery_list", grocery_list: @grocery_list %>
  </div>
</div>
