<div class="dashboard">
  <div class="dashboard-grocery">
    <h3>Your missing ingredients:</h3>
    <ul class="grocery-list">
      <% grocery_list.each do |item| %>
        <li class="grocery-list-item"><%= item.name.titleize %></li>
      <% end %>
    </ul>
  </div>
  <div class="dashboard-saved-cocktails">
    <h3>Your selected cocktails:</h3>
    <ul class="saved-cocktails-list">
      <% saved_cocktails.each do |saved_cocktail| %>
        <li class="saved-cocktails-list-item"><%= saved_cocktail.cocktail.name.titleize %></li>
      <% end %>
    </ul>
  </div>
</div>
