<ul class="grocery-list">
      <% grocery_list.each do |item| %>
        <li class="grocery-list-item">
          <%= item.name.titleize %>
          <%= button_to "", add_ingredient_to_cabinet_from_grocery_list_path(item.id), method: :patch, class: "fa-solid fa-square-plus fa-xl" %>
        </li>
      <% end %>
    </ul>
