<%# <h2>Discover your own bar at home</h2> %>
<div class="instructions">
  <div class="step">
    <div class="step-header">
      <h2 class="step-number-circle">1</h2>
      <h3>Add Ingredients</h3>
    </div>
    <%= image_tag 'HomeBar_1.png',class:"img_size" %>
    <p class="step-details">Enter the <span class="text-red-strong">spirits, juices and syrups</span> you have at home and create your own drink list</p>
  </div>
  <div class="step">
    <div class="step-header">
      <h2 class="step-number-circle">2</h2>
      <h3>Find Cocktails</h3>
    </div>
    <%= image_tag 'HomeBar_2.png',class:"img_size" %>
    <p class="step-details">Discover which recipes fit your supplies and <span class="text-red-strong">select favorites</span></p>
  </div>
  <div class="step">
    <div class="step-header">
      <h2 class="step-number-circle">3</h2>
      <h3>Master Mixology</h3>
    </div>
    <%= image_tag 'HomeBar_3.png', class:"img_size" %>
    <p class="step-details">Get a grocery list, go shopping and follow our recipes to <span class="text-red-strong">make your cocktails</span></p>
    </div>
  </div>
</div>
