<div class="instructions">
  <div class="info">
    <h2>How to use our app</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
  </div>
  <div class="images">
    <div class="img-instructions"><%= image_tag 'placeholder.jpg' %></div>
    <div class="img-instructions img-instructions2"><%= image_tag 'placeholder.jpg' %></div>
    <div class="img-instructions"><%= image_tag 'placeholder.jpg' %></div>
  </div>
</div>
