<div class="instructions">
  <div class="info">
    <h2>
      Discovering your very own bar at home
    </h2>
    <ul>
      <li>
        Tell us which ingredients you have and we will show you the cocktails you can make
      </li>
      <li>
        Discover which cocktails are missing just one or two ingredient and <strong>select your favorites</strong>
      </li>
      <li>
        Go shopping and then check the recipes to create your cocktails
      </li>
    </ul>
    <%# <p>
      HomeBar works with you to show you all of the cocktails you can make at home with the ingredients you already have: and by showing you which other cocktails are at your reach with one or two ingredients more!

    </p> %>
  </div>
  <%# <div class="images"> %>
    <div class="img-instructions">
      <%= image_tag 'HomeBar_1.png',class:"img_size" %>
    </div>
    <div class="img-instructions img-instructions">
      <%= image_tag 'HomeBar_2.png',class:"img_size" %>
    </div>
    <div class="img-instructions">
      <%= image_tag 'HomeBar_3.png', class:"img_size" %>
    </div>
  <%# </div> %>
</div>
