// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// HomeBar agreed colors:
$red-hb: #A10702;
$orange-hb: #EE9C19;
$black-hb: #252422;
$white-hb: #FCFCF4;
