<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>

<h2>Name:<%= cocktail.name %></h2>
<p>Instruction: <%= cocktail.instructions %></p>
<p>Alcohol?<%= cocktail.alcoholic %></p>
