<div class="footer d-flex justify-content-between">
  <div class="footer-links">
    <a href="https://github.com/lcalazansl/homebarapp" target="_blank">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://www.instagram.com/explore/tags/cocktails/" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://twitter.com/search?q=cocktails&src=typed_query" target="_blank">
      <i class="fab fa-twitter"></i>
    </a>
  </div>
  <div class="footer-authors">
    <h6>Developed with <i class="fa-solid fa-martini-glass-empty"></i></i> on Ruby on Rails by
      <a href="https://github.com/A-drienne" target="_blank">Adrienne</a>,
      <a href="https://github.com/alvarotrujillo" target="_blank">Alvaro</a>,
      <a href="https://github.com/lcalazansl" target="_blank">Lucas</a> &
      <a href="https://github.com/onofrecc" target="_blank">OnO</a>
    </h6>
  </div>
</div>
