<h1>HomeBar UI Kit</h1>

<%# <p>Find me in app/views/pages/uikit.html.erb</p> %>
<p>Card Component:</p>
<br>
<div class="card-wrap">
  <div class="card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://dosmaderas.com/wp-content/uploads/2021/10/Dos-Maderas-rum-Cocktail-Espresso-Martini-HERO-6.jpg)"></div>
  <div class="card-header">
    <div class="card-stock"><p>Ready to go</p></div>
    <div class="cocktail-name"><h2>Espresso Martini</h2></div>
  </div>
  <div class="card-ingredients"><p>Vodka, Kaluah and Espresso Coffee Beans</p></div>
</div>
