<h1>UI kit</h1>
<br /><br /><br />><br />
<h2>Navbar</h2>
<%= render "shared/navbar" %>
<br /><br /><br />><br />
<h2>Footer</h2>
<%= render "shared/footer" %>
<br /><br /><br />><br />
<h2>Banner</h2>
<%= render "components/banner" %>
<br /><br /><br />><br />
<h2>Button</h2>
<%= render "components/button" %>
