<h1>HomeBar UI Kit</h1>

<p>Find me in app/views/pages/uikit.html.erb</p>
<h2>Banner</h2>
  <%= render "components/banner" %>
  <br>
<div class="container">
  <h2>Card</h2>
  <%= render "components/card" %>
  <br>
  <h2>Cards Grid</h2>
  <%= render "components/cards_grid" %>
  <br>
</div>
