.banner {
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  padding: 48px;
  align-items: flex-end;
  justify-content: start;
  z-index: 0;
}

.banner-box {
  /* From https://css.glass */
  padding: 16px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  // border: 1px solid rgba(255, 255, 255, 0.3);
}

.banner-grid {
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 1.5rem;
}

.banner h1 {
  font-family: $headers-font;
  margin: 0;
  color: $orange-hb;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.45);
  font-size: 42px;
  font-weight: bold;
}

.banner p {
  font-family: $subheading-font;
  font-size: 24px;
  color: black;
  margin-top: 16px;
  padding-right: 48px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.45);
  margin-bottom: 0px;
}
