@import "searchform";

.cabinet {
  background-color: $white;
  // border-radius: 4px 4px 0 0;
  border: 1px solid $black-hb;
  margin-bottom: 2rem;
}

.search-info {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  width: 57.5%;
}

.search-results {
  // width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


.search-info h5 {
  font-family: $body-font;
  color: $black-hb
}

.cabinet-ingredients {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 79px;
  gap: 1rem;
}

.ingredient p {
  margin: 0;
}

.ingredient a {
  color:inherit;
}

.fa-xmark {
  padding-left: 1rem;
}

.remover {
  margin-left: 0.25rem;
  padding-right:0.1rem;
  border: none;
  background-color: white;
  font-size: large;
  font-weight: bolder;
}

.text-orange {
  color: $orange-hb;
  font-weight: bolder;
  font-size: x-large;
}
