.card-wrap {
  width: 18rem;
  border: 2px solid black;
  border-radius: 5px;
  background: #FFFFFF;
  & p {
    font-family: $body-font;
    text-align: justify;
  }
}

.card-stock {
  background: black;
  color: $orange-hb;
  padding: 5px;
  max-width: fit-content;
  
}

.cocktail-name {
  font-family: $headers-font;
  text-align: center;
  font-weight: 100;
  max-height: fit-content;
}

.card-header {
  display: flex;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
}
.card-photo {
  background-size: cover;
  background-position: 50% 40%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
