.dashboard {
  // border-radius: 0 0 4px 4px;
  // border: 1px solid $black-hb;
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  // flex-wrap: wrap-reverse;
  // & li:hover{
  //   font-weight: bolder;
  // }
  // & h3{
  //   text-justify: center;
  // }
}

.dashboard-saved-cocktails {
// border-left: .5px solid $black-hb;
  width: 50%;
  background-color: white;
  border: 1px solid $black-hb;
  padding: 1rem;
  // margin-right: 1rem;
// & ul {
//   list-style-type: none;
//   padding-left: 0;
// }
// & li {
//   margin: .3rem;
}

.dashboard-grocery {
  // border-right: .5px solid $black-hb;
  width: 50%;
  background-color: white;
  border: 1px solid $black-hb;
  padding: 1rem;
  & ul {
    list-style-type: none;
    padding-left: 0;
  }
  & li {
  //   padding-left: 2rem;
  //   background-image: url("square-regular.svg");
  //   background-position: 0 0;
  //   background-size: 1.6rem 1.6rem;
  //   background-repeat: no-repeat;
    margin-bottom: .3rem;
  }
  // & li:hover {
  //   padding-left: 2rem;
  //   background-image: url("square-check-regular.svg");
  //   background-position: 0 0;
  //   background-size: 1.6rem 1.6rem;
  //   background-repeat: no-repeat;
  // }
}

.dashboard h2 {
  font-family: $headers-font;
  margin-bottom: 2rem;
}

.dashboard-grocery .header h2 {
  // color: yellow;
  // background-color: red;
}

.dashboard-grocery .header .btn-flat {
  width: 25%;
  height: 2.8rem;
  font-size: 1rem;
  text-align: center;
}

// fa-solid fa-share-nodes
