.footer {
  background: $white-hb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding: 0.5rem 1rem;
  border-top: 2rem solid $white-hb;
}

.footer-links {
  display: flex;
  align-items: start;
  // justify-content: space-between;
  & .fab{
    margin: 0 .5rem;
  }
  padding-left: 2rem;
}
.footer-authors h6 {
  // color: #252422 0.4;
  color: rgba(37,36,34,0.4);
  // opacity: 0.4;
  margin-bottom: 0;
  & a{
    color: rgba(37,36,34,0.4);
    text-decoration: none;
  }
}
.footer-links a {
  color: rgba(37,36,34,0.4);
  text-decoration: none;
  font-size: 24px;
}

.footer a:hover {
  color: $orange-hb;
}

.footer-authors .fas:hover {
  // opacity: 1;
  color: $orange-hb;
}
.footer-authors{
  margin-right: 2rem;
}
