.grocery-list-item {
  font-size: x-large;
  color: $black-hb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grocery-list-item button {
  color: $black-hb;
}

.grocery-list-item button:hover {
  color: $orange;
}

.grocery-result {
  width: 100%;
  font-size: x-large;
  font-weight: bold;
  color: $black-hb;
  padding-top: 1rem;
  border-top: 1px solid $black-hb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grocery-result .text-orange {
  color: $orange-hb;
  font-weight: bolder;
  font-size:xx-large;
}

.share .btn-flat {
  width: 100%;
  margin-top: 2rem;
  color:white;
  background-color: $black-hb;
  border: 1px solid $black-hb;
  font-size: x-large;
  text-align: center;
}

.btn-large:hover {
  color: $black-hb;
  background-color: $orange-hb;
}
