.index-card-wrap {
  width: 22rem;
  border: 2px solid black;
  border-radius: 2px;
  background: #FFFFFF;
  p {
    font-family: $body-font;
    text-align: justify;
  }
}

.search-container {
  border-radius: 0 0 4px 4px;
  border: 1px solid #252422;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.index-card-photo {
  background-size: cover;
  background-position: 50% 40%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.index-card-header {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
}
.index-card-stock {
  display: flex;
  align-items: center;
  background: black;
  color: #EE9C19;
  font-weight: 900;
  flex-shrink: 0;
  height: 4rem;
  justify-content: center;
  p {
    margin: 0;
    padding: 6px;
  }
}

.index-cocktail-name {
  font-family: $headers-font;
  font-weight: 100;
  align-items: center;
  flex-grow: 2;
  height: 4rem;
  display: flex;
  padding-left: 30px;
}

.index-card-bottom {
  height: 5rem;
  padding: 5px;
}

.index-card-ingredients {
  display: flex;
  justify-content: left;
  align-items: center;
  p {
    margin: 0;
  }
}

ul {
  margin-bottom: 0;
}
