.index-card-wrap {
  position: relative;
  width: 22rem;
  // height: 10rem;
  border: 2px solid black;
  border-radius: 2px;
  background: #FFFFFF;
  p {
    font-family: $body-font;
    text-align: justify;
  }
}

.index-card-photo {
  background-size: cover;
  background-position: 50% 40%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.index-card-header {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  & :hover{
    cursor: pointer;
    color: $orange-hb;
    opacity: 0.9;
  }
}

.index-card-stock {
  display: flex;
  align-items: center;
  background: $black-hb;
  color: $orange-hb;
  font-weight: 900;
  flex-shrink: 0;
  height: 4rem;
  justify-content: center;
  p {
    font-size: 2rem;
    font-family: $body-font;
    margin: 0;
    padding: 6px;
  }
}

.index-cocktail-name {
  font-family: $headers-font;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  height: 4rem;
}

.index-card-bottom {
  height: 5rem;
  padding: 5px;
}

.index-card-ingredients {
  display: flex;
  justify-content: left;
  align-items: center;
  p {
    margin: 0;
  }
}

ul {
  margin-bottom: 0;
}

button {
  border: none;
  background-color: white;
}

.saved_cocktail_orange {
  border-color: $orange-hb;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.saved_cocktail_orange .index-card-header {
  border-color: $orange-hb;
}

.saved_cocktail_orange .index-card-stock {
  background-color: $orange-hb !important;
  color: white !important;
}

.fa-circle-plus, .fa-circle-minus {
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
}

.fa-circle-plus {
  color: $black-hb;
}

.fa-circle-minus {
  color: $orange-hb;
}

.fa-circle-plus:hover {
  color: $orange-hb;
}

.fa-circle-minus:hover {
  color: $black-hb;
}
