.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: fit-content;
  justify-content: space-between;
  padding: 0;
}
.navbar-white {
  background: $white-hb;
  transition: 0.5s background-color ease;
}
.navbar-transparent {
  // border-bottom: 1px solid $black-hb;
  background-color: transparent;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.nav-link {
  font-family: $subheading-font;
  color: $black-hb;
  opacity: 0.4;
}

.nav-link:hover {
  opacity: 1;
}

h1 {
  font-family: $headers-font;
  color: $black-hb;
  opacity: 1;
  margin-bottom: 0;
}

.navbar-brand h1:hover {
  color: $orange-hb;
}
