.saved-cocktail-card-wrap {
  position: relative;
  width: 30rem;
  // height: 10rem;
  border: 2px solid $orange-hb;
  border-radius: 2px;
  background: #FFFFFF;
  margin-bottom: 1rem;
  p {
    font-family: $body-font;
    text-align: justify;
  }
}

.saved-cocktail-header {
  display: grid;
  grid-template-columns: 6.6rem 15.4rem 8rem;
  align-items: center;
  justify-content: center;
  // border-bottom: 2px solid $orange-hb;
}

.saved-cocktail-stock {
  display: flex;
  align-items: center;
  background: $orange-hb;
  color: $white;
  font-weight: 900;
  flex-shrink: 0;
  height: 4rem;
  justify-content: center;
  p {
    font-size: 2rem;
    font-family: $body-font;
    margin: 0;
    padding: 6px;
  }
}

.saved-cocktail-name {
  font-family: $headers-font;
  font-weight: 100;
  align-items: center;
  flex-grow: 2;
  height: 4rem;
  display: flex;
  padding-left: 30px;
}

.fa-circle-plus, .fa-circle-minus {
  position: absolute;
  bottom: 1.8rem;
  right: 0.5rem;
}

.fa-circle-minus {
  color: $orange-hb;
}

.fa-circle-minus:hover {
  color: $black-hb;
}
