.saved-cocktail-card-wrap {
  position: relative;
  border: 2px solid $orange-hb;
  border-radius: 2px;
  background: #FFFFFF;
  margin-bottom: 1rem;
  p {
    font-family: $body-font;
    text-align: justify;
  }
}

// Small devices (up to 767px)
@media (max-width: 767px) {
  .saved-cocktail-card-wrap {
    min-height: 11rem;
    text-align: center;
  }

  .saved-cocktail-name {
    font-family: $headers-font;
    font-weight: 100;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
    min-height: 4rem;
    display: flex;
  }

  .saved-cocktail-icon {
    position: static;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .saved-cocktail-header {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
  }

  .saved-cocktail-name {
    font-family: $headers-font;
    font-weight: 100;
    align-items: center;
    flex-grow: 2;
    height: 4rem;
    display: flex;
    padding-left: 30px;
  }

  .fa-circle-plus, .fa-circle-minus {
    position: absolute;
    bottom: 2rem;
    right: 0.5rem;
  }
}

.saved-cocktail-stock {
  display: flex;
  align-items: center;
  background: $orange-hb;
  color: $white;
  font-weight: 900;
  flex-shrink: 0;
  height: 4rem;
  justify-content: center;
  p {
    font-size: 2rem;
    font-family: $body-font;
    margin: 0;
    padding: 6px;
  }
}

.fa-circle-minus {
  color: $orange-hb;
}

.fa-circle-minus:hover {
  color: $black-hb;
}
