<div class="main-content container">
  <h1>Selected Cocktails</h1>
   <%= render "components/cabinet", user_ingredients: @user_ingredients_in_stock %>
   <%= render "components/dashboard", grocery_list: @grocery_list, saved_cocktails: @saved_cocktails %>
</div>
